/* Variaveis das cores*/

:root {
    --secundaria: #7c4dff;
    --preto: #171616;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

/* ---------------------Header--------------------- */

header {
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #171616;
    z-index: 1;
}

header .info {
    display: flex;
    align-items: center;
}

header .info ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 20px;
    gap: 20px;
    font-size: 20px;
}

header .info ul li {
    cursor: pointer;
}

header .info ul li:hover {
    transform: scale(1.2);
    transition: 0.3s;
    color: var(--secundaria);
}

/*Pesquisa*/
header .pesquisa {
    display: flex;
    align-items: center;
    background-color: #171616;
    color: white;
    border: 1px solid var(--secundaria);
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

header .pesquisa input {
    height: 30px;
    border-radius: 10px;
    padding: 0 10px;
    background: none;
    color: white;
    border: none;
    outline: none;
    font-size: 15px;
}

header .pesquisa button {
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    padding: 10px;
    font-size: 15px;
}

header .pesquisa button:hover {
    color: var(--secundaria);
}

/* ---------------------Main--------------------- */

main {
    margin-top: 150px;
    width: 100%;
    height: 100%;
}

/* --------- Produto Destaque --------- */

.container_destaque {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20fr;
}

.produtoDestaque {
    display: grid;
    grid-template-areas: 
    "image infos";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 50px;
    gap: 20px;
    box-shadow: #171616 0px 0px 40px;
    border-radius: 20px;
    padding: 20px;
}

.produtoDestaque .img {
    grid-area: image;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-radius: 15px;
    box-shadow: var(--secundaria) 0px 0px 20px;
}

.produtoDestaque .img img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.produtoDestaque .infos {
    grid-area: infos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.produtoDestaque .infos .preco {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    font-style: italic;
}

.produtoDestaque .infos .comprar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtoDestaque .infos .estrelas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    margin-top: 20px;
    font-size: 15px;
}

/*elementos*/

.produtoDestaque .infos h2 {
    font-size: 45px;
    color: var(--secundaria);
}

.produtoDestaque .infos span {
    font-size: 15px;
}

.comprar button {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--secundaria);
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.comprar button:hover {
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: var(--secundaria) 0px 0px 5px;
}

.estrelas i {
    color: var(--secundaria);
    font: 10px;
}

/* ---------------------Produtos--------------------- */

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
    gap :10px;
}

.produtos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 10px;
    margin: 0 auto;
    gap :25px;
    flex-wrap: wrap;
}

.produto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    height: 20rem;
    gap :10px;
    border: var(--secundaria) 1px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: var(--secundaria) 0px 0px 10px;
    cursor: pointer;
}

.produto:hover {
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: var(--secundaria) 0px 0px 20px;
}

/*info*/

.produto .preco {
    display: flex;
    align-items: center;
    gap: 2px;
    font-style: italic;
    font-size: 20px;
    margin: 5px;
}

.produto .preco span {
    font-size: 8px;
    font-weight: bold;
}


/* Imagens */
.logo {
    width: 200px;
    height: 100px;
}

.produtoDestaque img {
    width: 50%;
    height: 50%;
}

.produto img {
    display: flex;
    align-items: center;
    justify-self: center;
    border-radius: 10px;
    width: 120px;
    height: 130px;
}

footer .logo img {
    display: flex;
    align-items: center;
    justify-self: center;
    border-radius: 10px;
    width: 45%;
    height: 45%;
    margin: 0;
    box-shadow: #ffffff 0px 0px 10px;
    margin: 10px;
}

/*link*/

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    color: var(--secundaria);
    margin: 10px;
    margin-top: 30px;
}

/*sobre*/

.sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin: 10px;
    width: 50%;
}

/* ---------------------Footer--------------------- */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    gap :10px;
}

footer .logo {
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    border-radius: 10px;
    width: 50%;
    height: 50%;
}

.links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
    margin: 10px;
}

.links ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    background-color: var(--preto);
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

/*---------------------Responsividade--------------------- */

/*Celular*/
@media only screen and (max-width: 900px) {
    * {
    font-size: 20px;
    }

    header {
        width: 100%;
        height: 100px;
    }

    header .logo {
        display: none;
    }

    header .info {
        margin: 0 auto;
    }

    .produtoDestaque {
        width: 90%;
        height: 90%;
        align-items: center;
        text-align: center;
    }

    .produto {
        width: 15rem;
        height: 15rem;
    }

    .preco {
        justify-content: center;
        font-size: 40px;
    }

    .sobre {
        font-size: 20px;
    }
}    